:root{  --main-color: #F9EBC8;
    --second-color: #FEFBE7; 
    --third-color: #DAE5D0; 
    --fourth-color: #A0BCC2; 
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: white !important;
}
.containerContact{
    background-color: var(--main-color);
}

#textarea{
    height: 30vh;
    resize: none;
}
.bordeAlertas{
    border-top: solid rgba(0, 0, 0, 0.1) 1px;
}

form{
    background-color: var(--main-color);
    border: 2px solid rgba(0, 0, 0, 0.189);
}

.h2contact{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}