*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    
}
nav{
    
} */
.activeCSS{
    color: white !important;
}
.navText{
    color: lightgray !important ;
}
.logo{
    max-height: 5vh;
}
.carro{
    height: 2vh;
}
li>a:hover{
    background-color: darkslategray;
}

/* header{
   
}
main{
   
}
footer{
    
} */



/* Media de navbar */
@media (min-width: 992px) {
    .borderLiNav{
        border: none !important;
    }
}